@import '../styles/variables.scss';

.carousel {
  height: 32px;
  margin-inline: $spacing-default;
  width: calc(100vw - 2 * $spacing-default);
  overflow: hidden;

  .carousel-wrapper {
    height: 32px;
  }
  .carousel-item {
    width: calc(100vw - 2 * $spacing-default);
    height: 32px;
    float: left;
    display: flex;
    justify-content: center;
  }
}
