@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap");
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(1, 82, 234);
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  padding: 1rem;
}

.navigation {
  padding: 0 1rem;
}
.navigation .navitem {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgb(0, 65, 216);
}
.navigation .coral {
  animation: pulse 2s infinite alternate;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0px rgb(255, 127, 80);
    background-color: rgba(255, 127, 80, 0);
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 127, 80);
    background-color: rgb(255, 127, 80);
  }
}

.nav-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
}

.t-row {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}
.t-row .t-head,
.t-row .t-data {
  border: solid 1px rgb(184, 177, 169);
  padding: 1rem;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.t-row .t-head .warning,
.t-row .t-data .warning {
  font-size: 1rem;
  color: red;
}
.t-row .t-head {
  color: rgb(1, 82, 234);
}
.t-row .t-data {
  color: black;
  font-size: 2rem;
  font-weight: 100;
}

.input-group {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.input-group .input-item {
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
}
.input-group .input-with-units {
  width: 85%;
}
.input-group .textearea {
  height: unset;
}
.input-group span {
  width: 15%;
}
.input-group .error-message {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}

.button {
  padding: 0.5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 700;
}

.radio-container {
  margin: 1rem auto;
  display: flex;
  width: 15rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.radio-container input {
  display: none;
}
.radio-container input:checked + .label-container {
  background-color: rgb(1, 121, 234);
  color: #fff;
  font-weight: 700;
}
.radio-container label {
  color: rgb(1, 82, 234);
  width: 50%;
  cursor: pointer;
}
.radio-container label .left {
  border-radius: 5px 0 0 5px;
}
.radio-container label .right {
  border-radius: 0 5px 5px 0;
}
.radio-container label .label-container {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 82, 234, 0.95);
  padding-block: 1rem;
}
.modal .modal-header {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  justify-content: space-between;
  padding-inline: 1rem;
}
.modal .modal-header .modal-title {
  text-align: center;
  flex-grow: 1;
}
.modal .modal-content {
  padding-inline: 1rem;
}

.pointer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-list {
  list-style-type: initial;
  list-style-position: inside;
}

.err-header {
  margin: 1rem;
  color: rgba(255, 0, 0, 0.616);
  text-align: center;
}

.text-center {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */