@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap");
#root,
#modal-root {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(1, 82, 234);
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
  padding: 1rem 0;
}
#root ul,
#modal-root ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#root a,
#modal-root a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#root h1,
#root h2,
#root h3,
#root h4,
#root h5,
#root h6,
#modal-root h1,
#modal-root h2,
#modal-root h3,
#modal-root h4,
#modal-root h5,
#modal-root h6 {
  margin: 0;
}

#root .container,
#modal-root .container {
  padding: 1rem;
}
#root .navigation,
#modal-root .navigation {
  padding: 0 1rem;
}
#root .navigation .navitem,
#modal-root .navigation .navitem {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgb(0, 65, 216);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#root .navigation .coral,
#modal-root .navigation .coral {
  animation: pulse 2s infinite alternate;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0px rgb(255, 127, 80);
    background-color: rgba(255, 127, 80, 0);
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 127, 80);
    background-color: rgb(255, 127, 80);
  }
}
#root .nav-header,
#modal-root .nav-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#root .table,
#modal-root .table {
  width: 100%;
}
#root .t-row,
#modal-root .t-row {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}
#root .t-row .t-head,
#root .t-row .t-data,
#modal-root .t-row .t-head,
#modal-root .t-row .t-data {
  border: solid 1px rgb(184, 177, 169);
  padding: 1rem;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#root .t-row .t-head .warning,
#root .t-row .t-data .warning,
#modal-root .t-row .t-head .warning,
#modal-root .t-row .t-data .warning {
  font-size: 1rem;
  color: red;
}
#root .t-row .t-head,
#modal-root .t-row .t-head {
  color: rgb(1, 82, 234);
}
#root .t-row .t-data,
#modal-root .t-row .t-data {
  color: black;
  font-size: 2rem;
  font-weight: 100;
}
#root .input-group,
#modal-root .input-group {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
#root .input-group .input-item,
#modal-root .input-group .input-item {
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
}
#root .input-group .input-with-units,
#modal-root .input-group .input-with-units {
  width: 85%;
}
#root .input-group .textearea,
#modal-root .input-group .textearea {
  height: unset;
}
#root .input-group span,
#modal-root .input-group span {
  width: 15%;
}
#root .input-group .error-message,
#modal-root .input-group .error-message {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
}
#root .button,
#modal-root .button {
  padding: 0.5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 700;
}
#root .radio-container,
#modal-root .radio-container {
  margin: 1rem auto;
  display: flex;
  width: 15rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
#root .radio-container input,
#modal-root .radio-container input {
  display: none;
}
#root .radio-container input:checked + .label-container,
#modal-root .radio-container input:checked + .label-container {
  background-color: rgb(1, 121, 234);
  color: #fff;
  font-weight: 700;
}
#root .radio-container .dual-input-label,
#modal-root .radio-container .dual-input-label {
  color: rgb(1, 82, 234);
  width: 50%;
  margin: 0;
  cursor: pointer;
}
#root .radio-container .dual-input-label .left,
#modal-root .radio-container .dual-input-label .left {
  border-radius: 5px 0 0 5px;
}
#root .radio-container .dual-input-label .right,
#modal-root .radio-container .dual-input-label .right {
  border-radius: 0 5px 5px 0;
}
#root .radio-container .dual-input-label .label-container,
#modal-root .radio-container .dual-input-label .label-container {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .modal,
#modal-root .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 82, 234, 0.95);
  padding-block: 1rem;
}
#root .modal .modal-header,
#modal-root .modal .modal-header {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  justify-content: space-between;
  padding-inline: 1rem;
}
#root .modal .modal-header .modal-title,
#modal-root .modal .modal-header .modal-title {
  text-align: center;
  flex-grow: 1;
}
#root .modal .modal-content,
#modal-root .modal .modal-content {
  padding-inline: 1rem;
}
#root .pointer,
#modal-root .pointer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .styled-list,
#modal-root .styled-list {
  list-style-type: initial;
  list-style-position: inside;
}
#root .err-header,
#modal-root .err-header {
  margin: 1rem;
  color: rgba(255, 0, 0, 0.616);
  text-align: center;
}
#root .text-center,
#modal-root .text-center {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */