@import 'variables';
@import 'basic_styles';

.navigation {
  padding: 0 $padding-default;

  .navlink {
    padding: $padding-default;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px $dark-blue;
  }
}
