$primary-color: rgb(1, 82, 234);
$light-color: rgb(1, 121, 234);
$secondary-color: rgb(255, 255, 255);
$dark-color: rgb(0, 65, 216);
// $primary-color: rgb(15, 147, 71);
// $light-color: rgb(43, 219, 24);
// $secondary-color: rgb(255, 255, 255);
// $dark-color: rgb(22, 85, 38);

$gray: rgb(184, 177, 169);
$black: black;

$spacing-default: 1rem;
